$inputRadius: 30px;

.input-box {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input__wrapper {
  &.js-animation--leave {
    animation: fade-out 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  }
}

.input__field {
  display: flex;

  input {
    width: 15rem;
    padding: 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    border-top-left-radius: $inputRadius;
    border-bottom-left-radius: $inputRadius;
    font-size: 1.2em;

    &[value] {
      color: $black;
      text-transform: uppercase;
    }
  }

  button {
    width: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px dotted rgba(0, 0, 0, 0.5);
    border-top-right-radius: $inputRadius;
    border-bottom-right-radius: $inputRadius;
    background-color: white;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    &.js-active {
      background-color: $lightGreen;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.input__alert {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  transition: color 0.3s;
  &.js-active {
    color: $lightGreen;
    text-decoration: line-through;
  }
  &.js-inactive {
    color: red;
  }
}
